body{
    font-family: 'Nunito', sans-serif !important;
    background-color:#fff4e3;
    background-image: url(Assets/people-at-concert-1105666.jpg);
    background-size: cover;
}
.dark{
    margin: 0 30px;
    color: white;
    font-size: 32px;
    text-align: center;
}
.logo{
    font-size: 1.5rem;
}
.nav-wrapper{
    background-color:#fa8572;
    color: #5d5d5a;
}
.albumThumb{
    max-width: 150px;
    max-height: 150px;
    margin: 1rem .25rem;
    margin-top: 0;
    
}
.hidden{
    display: none;
}
.eventInfo{
    margin: .5rem 0;
}
h5{
    margin: 0;
}
.card{
    background-color: #fff4e1;
}